body {
	margin: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.categories {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	background-color: lightcoral;
	padding: 200px;
}

.classes, .assignments, .tests, .extra {
	border: 2px solid black;
	padding: 50px;
}

